@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans:ital,wght@1,500&family=Nunito:wght@200&family=Playfair+Display:wght@500&family=Raleway:wght@100;200&family=Roboto:wght@300&display=swap');

body
{
}

.flexbox-container
{
    width:1200px;
    margin: 0 auto;
    /* background: blue; */
}

 .nav
{
    display: flex;
    justify-content: space-between;
} 

.nav h1
{
    font-family: 'Comfortaa', cursive;
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
}

.nav-links a
{
    text-decoration: none;
    color: black;
    margin: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

.content
{
    display: flex;
    margin-top: 45px;
}

.text h1 
{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 70px;
   
}

.text p
{
    /* padding: 19px; */
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    color: #828282;
    line-height: 100%;
    
}


.img-body img
{
    background: #FDC435;
    border-radius: 500px;
    margin-left: 55px;
}

.btn
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 10px;
    padding: 15px 35px;
    /* margin: 10px; */
    color: #25282B;
    background:  #FDC435;
    
}

.socials 
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.socials a
{
    margin: 8px;
}

.foot-text
{
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: #828282;
    font-size: 15px;
    font-weight: 400;
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
